.F-para{
    color: white;
    width: 500px;
}
.YuviMid{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
.zoom:hover{
    transform: scale(1.2);
    z-index: 1;
}
.midCom{
    width: 600px;
}
header{
    margin-bottom: 115px;
}
#more{
    display: none;
}